<section class="faq text-white text-center">
    <div class="container py-5">
      <h1 class="mb-5">Preguntas frecuentes</h1>
      <div class="faq__item mb-4">
        <h2>¿Qué es netflix?</h2>
        <p>Netflix es un servicio de transmisión que ofrece una amplia variedad de programas de televisión, películas, anime, documentales y más galardonados en miles de dispositivos conectados a Internet.</p>
      </div>
      <div class="faq__item mb-4">
        <h2>Cuánto cuesta Netflix?</h2>
        <p>Disfruta Netflix en tu smartphone, tablet, smart TV, laptop o dispositivo de streaming, todo por una tarifa plana mensual. Planes desde $99 hasta $299 al mes. Sin costos adicionales ni contratos.</p>
      </div>
      <div class="faq__item mb-4">
        <h2>¿Como cancelo?</h2>
        <p>Netflix es flexible. Sin contratos molestos ni compromisos. Cancela la membresía online con solo dos clics. No hay cargos por cancelación. Empieza y termina cuando quieras.</p>
      </div>
      <div class="faq__item mb-4">
        <h2>¿Qué puedo ver en Netflix?</h2>
        <p>Netflix tiene un amplio catálogo de películas, series, documentales, animes, originales premiados y más. Todo lo que quieras ver, cuando quieras.</p>
      </div>
      <div class="faq__item mb-4">
        <h2>¿Es bueno Netflix para los niños?</h2>
        <p>La experiencia de Netflix para niños está incluida en la membresía para que los padres tengan el control mientras los peques disfrutan series y películas familiares en su propio espacio.

            Los perfiles para niños incluyen controles parentales protegidos por PIN que te permiten restringir el contenido que pueden ver los niños en función de la clasificación por edad y bloquear determinados títulos que no quieras que los niños vean.</p>
      </div>
    </div>
  </section>
