<!--TODO: poner un background de fondo -->
<header class="header text-center text-white">
  <div class="overlay"></div>
  <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex justify-content-between w-100 align-items-center mt-3">
      <img class="header__logo mb-4" src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" alt="Netflix Logo" />
      <div class="d-flex align-items-center ml-auto">
        <label for="Lenguajeselect" class="mr-2 text-white d-flex align-items-center">
          <i class="bi bi-translate"></i>
        <span class="ml-2"></span>
        </label>
        <select id="Lenguajeselect" class="forms select" aria aria-label="Lenguaje selector">
          <option selected>English</option>
          <option value="es">Español</option>
        </select>
        <button class="btn btn-danger ml-3">iniciar sesión</button>
      </div>
    </div>
    <div class="header__content">
      <h1 class="display-4 font-weight-bold">Películas, programas de televisión y más ilimitados</h1>
      <h2 class="h4 font-weight-normal">Mira en cualquier lugar. Cancele en cualquier momento.</h2>
      <h3 class="h5 font-weight-light my-4">¿Listo para mirar? Ingrese su correo electrónico para crear o reiniciar su membresía.</h3>
      <div class="header__input input-group">
        <input type="email" class="form-control" placeholder="Direccon de correo electronico" />
        <div class="input-group-append">
          <button class="btn btn-danger">Empezar</button>
        </div>
      </div>
    </div>
  </div>
</header>
