.header {
  position: relative;
  height: 100vh;
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/8e16cf18-4cfa-4be6-b1e1-236f8de8d855/9453d32d-c8b1-4d4d-86ea-554f0bafed26/VE-es-20201228-popsignuptwoweeks-perspective_alpha_website_large.jpg') no-repeat center center/cover;
}



.header__logo {
  max-width: 200px;
}

.header__content h1, .header__content h2, .header__content h3 {
  color: white;
}
.ml-auto {
  margin-left: auto;
}

.btn-danger {
  margin-left: 10px;
}
.form select {
  width: auto;
  display: inline-block;
  margin-left: 5px;
}
label.d-dlex {
  align-items: center;
}
fa-globe
.bi-bi-translate {
  margin-right: 5px;
}