<section class="main-section text-white">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-md-6">
          <h1>Disfruta en tu televisor</h1>
          <h2>Míralo en Smart TV, Playstation, Xbox, Chromecast, Apple TV, reproductores de Blu-ray y más.</h2>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" alt="TV" />
        </div>
      </div>
  
      <div class="row align-items-center mb-5 flex-md-row-reverse">
        <div class="col-md-6">
          <h1>Descarga tus programas para verlos sin conexión</h1>
          <h2>Míralo en un avión, tren o submarino...</h2>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="../../assets/03_Netflix_Logo_PMS/mobile-0819.jpg" alt="">
        </div>
      </div>
  
      <div class="row align-items-center mb-5">
        <div class="col-md-6">
          <h1>Mira en todas partes</h1>
          <h2>Transmita películas y programas de TV ilimitados en su teléfono, tableta, computadora portátil y TV.</h2>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png" alt="Devices" />
        </div>
      </div>
  
      <div class="row align-items-center flex-md-row-reverse">
        <div class="col-md-6">
          <h1>crea perfiles para niños.</h1>
          <h2>Envía a los niños a vivir aventuras con sus personajes favoritos en un espacio creado solo para ellos, gratis con tu membresía.</h2>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="../../assets/03_Netflix_Logo_PMS/niños.png" alt="Kids" />
        </div>
      </div>
    </div>
  </section>
