
<button type="submit">Iniciar sesión</button>
<style>
  img {
    margin:auto;
    size: 80px;
    
  }
</style>
<body>
  <img src="../assets/03_Netflix_Logo_PMS/Netflix.png" alt="">
  <h1>Peliculas y series ilimitadas y mucho mas</h1>
<p>Disfruta donde quieras. Cancela cuando quieras.</p>
<p>¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Netflix.</p>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="email" placeholder="email" aria-label="email">
      <button class="btn btn-outline-success" type="submit">Comenzar</button>
    </form>
  </div>
</nav>

</body>



<router-outlet></router-outlet>
